[submodule "CAR-Game"]
	path = CAR-Game
	url = git@github.com:NewBrainGames/BrainKiller.git
[submodule "CAR-Mobile"]
	path = CAR-Mobile
	url = git@github.com:Hi5App/C3.git
[submodule "CAR-Server"]
	path = CAR-Server
	url = git@github.com:Hi5App/BrainTellServer.git
[submodule "CAR-VR-WS"]
	path = CAR-VR-WS
	url = git@github.com:Vaa3D/v3d_external.git
	branch = collaborate_mode
