[submodule "CAR-Game"]
	path = CAR-Game
	url = https://github.com/NewBrainGames/BrainKiller.git
[submodule "CAR-Mobile"]
	path = CAR-Mobile
	url = https://github.com/Hi5App/C3.git
	branch = "new_zll"
[submodule "CAR-Server"]
	path = CAR-Server
	url = https://github.com/Hi5App/BrainTellServer.git
[submodule "CAR-VR-WS"]
	path = CAR-WS-VR
	url = https://github.com/Vaa3D/v3d_external.git
	branch = collaborate_mode
